@font-face {
  font-family: "SourceSansPro Regular";
  src: url("../fonts/sourcesanspro-regular-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "SourceSansPro Semibold";
  src: url("../fonts/sourcesanspro-semibold-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Novecento Wide";
  src: url("../fonts/novecentowide-bold-webfont.woff2") format("woff2");
}
