/* JS styles */
.body__js {
  //style apply if js is enable here
}

/* titles styles */
h1,
h2,
h3 {
  font-family: $Nove-w;
}

/* All $yellow texts */
.text,
.nav__title,
.header__section,
.newsletter__intro,
.newsletter__form__label,
.btn--black {
  color: $yellow;
}

/* Header styles */

/* Nav styles */
.nav {
  background-color: $bgBlack;
  padding: 1.375em 11.5625% 1em;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.nav__burger {
  display: block;
  position: absolute;
  top: -999999px;
  &:checked {
    & ~ .nav__boxMenu {
      left: 0;
      opacity: 1;
    }
  }
}

.nav__label,
.link,
.header__section__img,
.header__section__scroll,
.expo__title,
.text__container__title,
.place__text__title,
.btn,
.pagination__previous,
.pagination__next,
.pagination__link:active {
  position: relative;
}

.nav__label {
  display: block;
  cursor: pointer;
  z-index: 1010;
  width: 25px;
  height: 38px;
}

.nav__lines {
  &::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 25px;
    background-color: $yellow;
  }
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 25px;
    background-color: $yellow;
  }
  position: absolute;
  height: 2px;
  width: 25px;
  background-color: $yellow;
  left: 0;
  font-size: 0;
}
.nav__lines {
  top: 9px;
}
.nav__lines::before {
  top: 9px;
}

.nav__lines::after {
  top: 18px;
}

.text,
.nav__title {
  font-size: $base-scale;
  max-width: 93px;
  line-height: 1.1875em;
}

.boxMenu {
  position: absolute;
  top: 76px;
  left: 100%;
  width: 100%;
  height: calc(100vh - 76px);
  background-color: $bgBlack;
  z-index: 1000;
  padding: 8.0370942813em 31.5625% 0;
  transition-duration: 0.3s;
  opacity: 0;
}

.link {
  color: $textWhite;
  text-decoration: none;
  font-family: "Novecento sans";
  display: inline-block;
  &:hover {
    color: $yellow;
  }
  &:active {
    color: $yellow;
  }
  &::after {
    content: "";
    display: block;
    background-color: #fff;
    height: 2px;
    width: 0;
    transition: 0.3s ease-out;
  }
  &:hover:after {
    width: 100%;
  }
}

.boxMenu__item__link {
  font-size: 1.25em;
  font-weight: medium;
}

.menu__item:not(:last-child) {
  padding-bottom: 1.1875em;
}

.lang__switcher {
  background-color: $yellow;
  color: $textBlack;
  text-decoration: underline;
  padding: 10px 14px;
  display: inline-block;
  margin-top: 0.8654em;
  font-size: 1.011em;
}
.header {
  /* Use to prevent margin fusion from the content below the nav */
  overflow: hidden;
}
/* End nav style */
/* Intro style */
.intro,
.main__wrapper,
.wrapper__bg {
  margin-top: 75px;
}

.header__section {
  padding: 1em 11.5625% 0;
  background-color: $bgBlack;
  min-height: calc(100vh - 75px);
  grid-auto-rows: max-content max-content max-content 1fr max-content;
}

.main__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
}

.header__section__location {
  grid-column: span 4;
  font-family: $Nove;
  font-size: 0.77em;
  font-weight: 500;
  margin-bottom: 2.0292207792em;
  &::before {
    content: "";
    background-color: $yellow;
    height: 2px;
    width: 40px;
    display: inline-block;
    margin-right: 8px;
  }
}

.header__section__introduction {
  font-size: 1.011em;
  font-weight: 700;
  grid-column: span 4;
  line-height: 1.4002225519em;
  margin-bottom: 1.8125em;
  max-width: 485px;
}

.header__section__banner {
  grid-column: span 4;
  margin-bottom: 2.618em;
  overflow: hidden;
}

.header__section__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.header__section__scroll {
  font-family: $Nove;
  display: block;
  grid-column: span 4;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 3.236em;
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 3.236em;
    top: 2em;
    left: 50%;
    background-color: $yellow;
    animation: line 3s 2s infinite ease-out;
  }
}

@keyframes line {
  0% {
    height: 3.236em;
    top: 2em;
  }
  100% {
    height: 0;
    top: calc(1em + 3.236em);
  }
}

/* Main style */
/* Main Section style */
.main__section {
  padding: 3.236em 0 0;
}

.section__text__container,
.btn__container,
.img__container__text,
.img__container__img,
.expo__text__title,
.expo__poster,
.expo__text__content,
.search__form,
.wrapper__title,
.gallerie__expo,
.place__img--nowrapper,
.place__text__content--italic {
  padding: 0 11.5625%;
}

.btn__container,
.expo__btn__container {
  padding-bottom: 2.647em;
}

.img__container__img {
  max-width: 100%;
}

.img__container__img,
.expo__poster {
  padding-bottom: 1em;
}

.img__container__text {
  background-color: $bgBlack;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  width: 100%;
}

.img__container__paragraph {
  color: $textWhite;
  font-weight: 400;
  line-height: 1.4em;
  max-width: 600px;
}

.text__container__title {
  /* #FIXME for yellow line display */
  display: inline-block;
  font-family: $Nove;
  font-size: 1.25em;
  font-weight: 700;
  color: $textBlack;
}
/* 
#TODO Put this part of the code inside .text__container__title style declaration
  set a class modifier for displaying yellow line on left or right of the title
*/
.text__container__title {
  &::after {
    content: "";
    display: block;
    position: absolute;
    clear: both;
    top: calc(1em - 4px);
    right: calc(-26.01626016% - 6px);
    width: calc(26.01626016% - 6px);
    height: 2px;
    background-color: $yellow;
  }
  max-width: 73.98373984%;
}

.expo__title,
.place__text__title {
  font-weight: 700;
  color: $textBlack;
}

.expo__title,
.place__text__title,
.text__container__date,
.text__container__author,
.expo__date,
.expo__author {
  display: block;
  font-size: 1.011em;
}

.text__container__date,
.expo__date {
  color: $textMidBlack;
  margin: 0.61805em 0 0;
}

.text__container__author,
.expo__author {
  color: $textLightBlack;
  margin-top: 0.61805em;
  margin-bottom: 1.25em;
}

.btn {
  &::before {
    content: "";
    display: block;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    background-color: $yellow;
  }
  &:hover::before {
    left: -4px;
    top: -4px;
  }
  display: block;
  width: fit-content;
  font-family: "Source Sans Pro";
  text-decoration: none;
  border: none;
  transition: 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  &--big {
    &::before {
      height: calc(1em + 2.24em);
    }
    padding: 1.125em 1em;
    font-size: 1.011rem;
  }
  &--black {
    &:hover {
      color: $textWhite;
    }
    background-color: $bgBlack;
    color: $yellow;
    margin-top: 1.25em;
  }
  &--small {
    &:before {
      height: calc(1em + 1.8em);
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: calc(1em + 1.8em);
      width: 100%;
      background-color: #ffff;
      z-index: -1;
    }
    padding: 1.125em 1em;
    font-size: 1.011rem;
    padding: 0.773em;
    font-size: 0.773em;
  }
  &--white {
    display: inline-block;
    z-index: 0;
    color: $textBlack;
  }
}

/* Footer style */
.footer {
  background-color: $bgBlack;
  padding: 1.636em 0;
}

.newsletter__intro,
.newsletter__form {
  max-width: 76.875%;
  margin: 0 auto;
}

.newsletter__intro {
  font-family: "Source sans pro";
  font-size: 1.011em; /* 16.18em */
  text-align: center;
}

.newsletter__form {
  margin-top: 1.636em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.newsletter__form__label {
  display: block;
  width: 100%;
  font-weight: 700;
  margin-bottom: 1.011em;
  text-align: center;
}

.newsletter__form__input {
  margin-right: 10px;
  line-height: 1.5em;
  width: calc(100% - 77.56px);
  padding-left: 0.5em;
}

.nav__secondary {
  margin: 1.25em auto 0;
  max-width: 76.875%;
}

.nav__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav__item {
  display: inline-block;
  font-size: 0.625em;
}

/* Expos/livres pages */

.wrapper__title,
.wrapper__title--nomargin {
  font-size: 1.25em;
  color: $textBlack;
  padding-top: 2.023em;
  margin-bottom: 1.636em;
}

.main__expo {
  display: flex;
  flex-direction: column;
  /* flex-start default value is flex-start */
}

.search__form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1.636em;
}

.search__form__label {
  font-size: 0.773em;
  font-family: $Nove;
  display: block;
  margin-bottom: 0.773em;
  display: block;
  width: 100%;
}

.search__form__input {
  border: 1px solid $textLightBlack;
  line-height: 1.6em;
  width: 84.14634146%;
  max-width: 480px;
}

.search__form__button {
  &::before {
    width: 27px;
    height: 27px;
    background-color: $yellow;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  width: 28px;
  height: 27px;
  background-color: $bgBlack;
  cursor: pointer;
}

.search__form__icon {
  width: 14px;
  height: 14px;
  fill: $yellow;
}

.expo__poster {
  background-color: $bgLightGray;
}

.expo__text__title {
  order: -1;
  padding-top: 1em;
  &--gray {
    background-color: $bgLightGray;
  }
}

.expo__text__content {
  padding-top: 1.636em;
}

.expo__text__paragraph {
  line-height: 1.5em;
  max-width: 480px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.636em;
  padding-bottom: 1.636em;
}

.pagination__list {
  display: flex;
  align-items: center;
}

.pagination__previous,
.pagination__next,
.pagination,
.pagination__link {
  background-color: $bgLightGray;
}

.pagination__previous,
.pagination__next {
  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 7px);
    left: calc(50% - 7px);
    display: block;
    width: 12px;
    height: 12px;
    border: 1px solid $bgBlack;
    border-width: 0 0 3px 3px;
  }
  display: block;
  border: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.pagination__previous {
  &::before {
    transform: rotate(45deg);
  }
}

.pagination__next {
  &::before {
    transform: rotate(-135deg);
  }
}

.pagination__link {
  &:active {
    color: white;
    &::before {
      content: "";
      display: block;
      z-index: -1;
      width: 100%;
      height: 24px;
      position: absolute;
      top: -4px;
      left: -4px;
      background-color: $yellow;
    }
    &::after {
      content: "";
      display: block;
      z-index: -1;
      width: 100%;
      height: 24px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $bgBlack;
    }
  }
  display: block;
  z-index: 0;
  width: 24px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: $textBlack;
}
/* ************************************************************************************************************************************************************************************************************************* */
/* DELETE THIS BEFORE IMPLEMENTATION THIS IS JUST FOR DEISNG PURPOSE THE REAL CLASS IS .pagination__link:active  */

.force__active {
  &::before {
    content: "";
    display: block;
    z-index: -1;
    width: 100%;
    height: 24px;
    position: absolute;
    top: -4px;
    left: -4px;
    background-color: $yellow;
  }
  &::after {
    content: "";
    display: block;
    z-index: -1;
    width: 100%;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $bgBlack;
  }
  position: relative;
  //background-color: $bgBlack;
  color: white;
}
/* DELETE THIS BEFORE IMPLEMENTATION THIS IS JUST FOR DEISNG PURPOSE THE REAL CLASS IS .pagination__link:active  */

/* gallerie */

/* Place page */
.container__tier1,
.container__tier2,
.container__tier3 {
  display: flex;
  flex-direction: column;
}

.wrapper__bg {
  padding: 0 11.5625%;
}

.place__img__content {
  &::before {
    content: "";
    display: block;
    z-index: -1;
    position: absolute;
    top: -4px;
    left: -4px;
    width: 100%;
    height: 100%;
    background-color: $yellow;
  }
  vertical-align: middle; //remove the withe space after of before the inline element (img here)
  width: 100%;
  margin-top: 1.375em; /* 18px from design + 4px for yellow border */
}

.place__text__title {
  order: -1;
}

.place__text__imp {
  font-size: 1.011em;
  color: $textBlack;
  font-style: italic;
  line-height: calc(1.011em * 1.4);
  margin-top: 1.8545994065em;
}

.place__text__content,
.place__text__content--tall,
.place__text__content--italic {
  line-height: calc(1.011em * 1.4);
  margin-top: 1.8545994065em;
  margin-bottom: 2.647em;
}

.place__text__content--italic {
  font-weight: 600;
  font-style: italic;
}
