$yellow: #e6e600;
$bgBlack: #222329;
$bgLightGray: #f8f8f8;
$textBlack: #242424;
$textMidBlack: #525252;
$textLightBlack: #727272;
$textWhite: #f2f2f2;

$base-scale: 1.011em;

$Nove-w: "Novecento wide", Arial, Helvetica, sans-serif;
$Nove: "Novecento sans";
